<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center mb-4 mt-4" style="color: white;">Edit Restaurant</h1>
 
  <div class="form-containerz col-md-6 offset-md-3">
    <form
      action="/restaurants/<%= restaurant._id %>?_method=PUT"
      method="POST"
      class="validate-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="edit-label orm-label" for="title">Title</label>
        <input
          class="edit-inputs form-control"
          type="text"
          id="title"
          required
          name="restaurant[title]"
          value="<%= restaurant.title  %> "
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="edit-label form-label" for="location">Location</label>
        <input
          class="edit-inputs form-control"
          type="text"
          id="location"
          required
          name="restaurant[location]"
          value="<%= restaurant.location  %> "
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="edit-label form-label" for="price">Price Range</label>
        <div class="input-group">
          <span class="edit-inputs input-group-text" id="price-label">₱</span>
          <input
            type="text"
            class="edit-inputs form-control"
            id="price"
            placeholder="0.00"
            required
            name="restaurant[price]"
            value="<%= restaurant.price  %> "
            aria-describedby="price-label"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="edit-label form-label" for="description">Description</label>
        <textarea
          class="edit-inputs form-control"
          type="text"
          id="description"
          required
          name="restaurant[description]"
        >
<%= restaurant.description  %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="images" class="edit-label form-label">Add Images</label>
        <input
          name="image"
          class="edit-inputs form-control"
          type="file"
          id="images"
          multiple
        />
      </div>
      <div class="mb-3">
        <% restaurant.images.forEach((img,i) => { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% }) %>
      </div>

      <div class="flex-btn mb-3">
        <a class="back-btn btn" href="/restaurants/<%= restaurant._id  %> ">Back</a>
        <button class="edit btn">Update Restaurant</button>
    
      </div>
    </form>

  </div>
</div>
